COMMON_DB_URL=jdbc:postgresql://host:port/esso_common
COMMON_DB_USER=esso
COMMON_DB_PASS=pass
COMMON_SERVER_PORT=8080

INTEGRATION_DB_URL=jdbc:postgresql://host:port/esso_integration
INTEGRATION_DB_USER=esso
INTEGRATION_DB_PASS=pass
INTEGRATION_SERVER_PORT=8081

INTEGRATION_API_BASE_URL=http://router.mlsp.kg/api/internal/v1/
INTEGRATION_API_X_API_KEY=key
INTEGRATION_API_USER_NAME=user
INTEGRATION_API_ROLE_NAME=user


UBK_DB_URL=jdbc:postgresql://host:port/esso_ubk
UBK_DB_USER=esso
UBK_DB_PASS=pass
UBK_SERVER_PORT=8082


ESP_DB_URL=jdbc:postgresql://host:port/esso_esp
ESP_DB_USER=esso
ESP_DB_PASS=pass
ESP_SERVER_PORT=8083

